@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: #2E2E2E;
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #1e1e1e;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* canvas {
  width: 100%;
  height: 100%;
} */

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 9;
}

.bg {
  background: #d0d0d0;
}

.fullscreen.notready {
  color: #606060;
}

.fullscreen.loaded > div {
  cursor: pointer;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

input {
  all: unset;
}
